.navbar a:hover {
  scale: 110%;
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 20px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: relative;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

footer {
  position: absolute;
  top: 85%;
  left: 75%;
}

@media screen and (max-width: 760px) {
  .logo {
    display: none;
  }

  .container {
    justify-content: center;
  }

  footer {
    position: absolute;
    top: 85%;
    left: 20%;
  }
}

@media screen and (min-width: 761px) and (max-width: 960px) {
  footer {
    position: absolute;
    top: 85%;
    left: 60%;
  }
}
